// vars
@themes: "../../../themes";

// imports
@import "@{themes}/naked-wordpress/style.css";

// mixins
.round-borders (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

// styles
blockquote {
  border-left: rgba(0, 121, 152, 0.5) solid 4px;
  padding-left: 3%;
}

.round-25 {
  .round-borders(25%);
}

article {
  .the-content {
    img {
      width: auto;
      max-width: 100%;
    }

    .wp-caption-text {
      text-align: left;
    }
  }
}
